#container {
  width: 400px; height: 400px;
}

.grid-rows {
  width: 10px;
  height: 10px;
  float: left;
}

.grid-unit {
  background-color: #eee;
  float: left;
  padding: 0;
}

.dark-grey {
  background-color: #999;
}

button {
 margin: 10px;
}
